@import "../../style-constants.scss";

.toolbar-elements-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // Prevent elements from overlaying fixed toolbar
  z-index: 2;
}

.mat-toolbar {
  display: flex;
  align-content: center;
  background: $toolbar-background;
  color: $toolbar-text;
}

.shopping-list-container {
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 15px;
}

.content-container {
  padding-top: $toolbar-height;
  padding-left: calc($sidenav-width + 5%);
  padding-right: 5%;
  padding-bottom: 30px;
}

.dashboard-container {
  width: 100%;
}

.shopping-element-lists-container{
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-bottom: 2%;
}

.sidenav-container {
  height: 100%;
  width: $sidenav-width;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
}

.empty-state-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  .empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    min-width: 100px;
    row-gap: 15px;
    text-align: center;
    .empty-state-header {
      font-weight: bold;
    }
    .empty-state-message{
      color: $subtitle-text-color;
    }
  }
}

.add-button-round-square{
  width: 100%;
  min-width: 140px;
  border-radius: 20px;
}

// Customize material button
.mat-mdc-unelevated-button:not(:disabled){
  background-color: $button-background;
  color: white;
  font-family: inherit;
}

// Customize mat drawer
.mat-drawer-container{
  background-color: white;
  height: 100%;
}

mat-drawer{
  width: 10%;
  min-width: 100px;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $toolbar-height;
  row-gap: 30px;
  button{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    width: 90px;
    height: 90px;
    mat-icon {
      font-size: 30px;
      height: 30px;
      width: 30px;
    }
    .list-button-label{
      font-family: "Roboto Slab";
      font-size: $subtitle-font-size;
    }
  }
}

.sidenav-selected-tab {
  color: $listy-accent;
}

.sidenav-unselected-tab {
  color: $subtitle-text-color;
}

