@import "../../style-constants.scss";

.toolbar-elements-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // Prevent elements from overlaying fixed toolbar
  z-index: 2;
}

.mat-toolbar {
  display: flex;
  align-content: center;
  background: $toolbar-background;
  color: $toolbar-text;
}

.shopping-list-container {
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-bottom: 2%;
  padding-top: $toolbar-height;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 15px;
}