@import "../../style-constants.scss";

.shopping-element-card {
  border-radius: 4px;
  background-color: $shopping-element-card-background;
  border-width: 0px;
  padding: 16px 36px 16px 36px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shopping-element-information-container {
  display: flex;
  align-items: center;
  column-gap: 30px;
  .color-icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    flex-shrink: 0;
  }
}

.left-section {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  // Edit mode form width
  width: 25vw;
  align-items: flex-start;
  .item-info{
    // Get form to take all container space
    width: 100%;
  }

  .item-information-section {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
  }

  .item-name-section {
    width: 100%;
  }

  .item-information-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    font-size: $subtitle-font-size;
    .item-price-label {
      color: $subtitle-text-color;
      min-width: 138px;
    }
    .item-quantity-label {
      color: $subtitle-text-color;
      min-width: 72px;
    }
  }

  .item-information-text {
    font-size: $subtitle-font-size;
    color: $subtitle-text-color;
    .item-quantity {
      // Fill entire container
      width: 100%;
    }
    .label{
      font-weight: bold;
    }
  }
}

.edit-property-clickable {
  cursor: pointer;
}

.price-section{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.actions-section {
  display: flex;
  flex-direction: row;
  column-gap: 1px;
}

.right-section {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  .final-price-information {
    font-size: $subsubtitle-font-size;
    color: $subtitle-text-color;
  }
}

// Remove arrows in number input

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/***** Material form customization *****/

// Default state
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: $shopping-element-card-background;
  // Remove padding left
  padding-left: 0px;
}

// Remove overlay when element is focused
.mat-mdc-form-field-focus-overlay {
  background-color: $shopping-element-card-background;
}

// Remove form subscript
.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

// Modify min height
.mat-mdc-form-field-infix {
  min-height: 30px;
  display: flex;
  align-items: flex-end;
}

// Form takes all the space in its container
.mat-mdc-form-field {
  width: 100%;
}

// Remove padding-top in text forms
.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-top: 0px;
  // Distance between text and animated line
  padding-bottom: 0px;
  // Remove min-height to prevent form inserting new space when editing
  min-height: 0px;
}



