<div class="shopping-element-card" [formGroup]="shoppingElementForm">
  <div class="shopping-element-information-container">
    <div class="color-icon" [ngStyle]="{'background-color' : shoppingElement.iconColor}"></div>
    <div class="left-section">
      <div class="item-name-section">
        <!-- Item name -->
        <h4 *ngIf="!isEditingProductName; else editName" (click)="editProductName()" class="edit-property-clickable">{{shoppingElementForm.controls['name'].value}}</h4>
        <!-- Edit mode - Name -->
        <ng-template #editName>
          <mat-form-field>
            <input matInput 
            (keydown.enter)="saveChanges()" 
            type="text" 
            [id]="nameHtmlElementId" 
            [value]="shoppingElement.name" 
            formControlName="name">
          </mat-form-field>
        </ng-template>
        <!-- Edit mode - Name -->
      </div>
      
      <div class="item-information-section">

        <!-- Item price -->
        <div class="item-price-section">
          <span class="item-price-label">Precio por unidad:</span>&nbsp;
          <span 
          *ngIf="!isEditingProductUnitPrice else editUnitPrice" 
          class="edit-property-clickable"
          (click)="editProductUnitPrice($event)">{{shoppingElementForm.controls['unitPrice'].value}}
          </span>
          <ng-template #editUnitPrice>
            <mat-form-field>
              <input matInput 
              (keydown.enter)="saveChanges()" 
              type="text" 
              (input)="onUnitPriceInput($event)" 
              [id]="unitPriceHtmlElementId" 
              [value]="shoppingElement.unitPrice" 
              formControlName="unitPrice">
            </mat-form-field>
          </ng-template>
        </div>

        <!-- Item quantity -->
        <div class="item-quantity-section">
          <span class="item-quantity-label">Cantidad:</span>&nbsp; 
          <span 
          *ngIf="!isEditingProductQuantity else editProductQuantitySection" 
          class="edit-property-clickable"
          (click)="editProductQuantity($event)">{{shoppingElementForm.controls['quantity'].value}}
          </span>
          <ng-template #editProductQuantitySection>
            <mat-form-field>
              <input matInput (keydown.enter)="saveChanges()" type="number" (input)="onProductQuantityInput($event)" maxlength="15" [id]="quantityHtmlElementId" [value]="shoppingElement.quantity" formControlName="quantity">
            </mat-form-field>
          </ng-template>
        </div>

      </div>
    </div>
  </div>

  <div class="right-section">     
    <div class="price-section">
      <div class="final-price-information">
        Total
      </div>
      <h3>{{formattedTotalPrice}}</h3>
    </div>
  
    <div class="actions-section">
      <button mat-icon-button (click)="activateEditAllMode()" *ngIf="!isEditingAnyProperty(); else saveChangesButton"><mat-icon>edit</mat-icon></button>
      <!-- Save changes button -->
      <ng-template #saveChangesButton>
        <button mat-icon-button (click)="saveChanges()"><mat-icon>done</mat-icon></button>
      </ng-template>
      <!-- Save changes button -->
      <button mat-icon-button (click)="deleteShoppingElement(shoppingElementIndex)"> <mat-icon>delete</mat-icon> </button>
    </div>
  </div>  
</div> 





