@import "../../style-constants.scss";

.shopping-element-card {
  border-radius: 4px;
  background-color: $shopping-element-card-background;
  border-width: 0px;
  padding: 16px 36px 16px 36px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  // position: absolute;
  // bottom: $shopping-card-height*2 ;
}

.shopping-element-name {
  display: flex;
  align-items: center;
  column-gap: 30px;
  .color-icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    flex-shrink: 0;
  }
}

.price-information {
  font-size: $subsubtitle-font-size;
  color: $subtitle-text;

  .label{
    font-weight: bold;
  }
}

.item-information-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 30vw;
  // Match clickable padding-top
  padding-bottom: 16px;
  .item-information-text {
    font-size: $subsubtitle-font-size;
    color: $subtitle-text;
    .label{
      font-weight: bold;
    }
  }
}

.edit-name-clickable {
  cursor: pointer;
  // Keep this padding-top to not modify card height when editing
  // padding-top: 8.5px;
  padding-top: 16px;
  padding-bottom: 3px;
}

.price-section{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.actions-section {
  display: flex;
  flex-direction: row;
  column-gap: 1px;
}

.right-section {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

/***** Custom forms styles *****/

// Default state
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: $shopping-element-card-background;
  // Remove padding left
  padding-left: 0px;
}

// Remove overlay when element is focused
.mat-mdc-form-field-focus-overlay {
  background-color: $shopping-element-card-background;
}

// Remove form subscript
.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

// Modify min height
.mat-mdc-form-field-infix {
  min-height: 30px;
  display: flex;
  align-items: flex-end;
}

// Remove padding in text field
.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-bottom: 3px;
}




