<div @shoppingElementsFirstLoadTrigger class="shopping-elements-container">
  <div class="header-section">
    <shopping-element-list-header></shopping-element-list-header>
    <div class="total-price-section">
      <h2 class="label">Total</h2><h2>{{formattedFinalPrice}}</h2>
      <button mat-icon-button class="add-button" (click)="addShoppingElement('')"><mat-icon>add</mat-icon></button>
    </div>
  </div>

  <div [@modifyShoppingElementListTrigger]="'in'" *ngFor="let shoppingElement of shoppingElementList.shoppingElements; let i = index">
    <shopping-element 
    (onDeleteShoppingElement)="deleteShoppingElement(i)"
    [shoppingElement]="shoppingElement"
    [shoppingElementIndex]="i"
    ></shopping-element>
  </div>
</div>


