<!-- <div @simpleFadeAnimation class="shopping-elements-container"> -->
<div class="shopping-elements-container">
  <div class="header-section-container">
    <div class="header-section">
      <div>
        <h2>Compras para cena formal</h2>
        <span class="shopping-list-subtitle">5 de mayo de 2023</span>
      </div>
  
      <div class="total-price-section">
        <h2 class="label">Total</h2><h2>{{formattedFinalPrice}}</h2>
        <div class="add-button-container">
          <button @simpleFadeAnimation 
          *ngIf="shoppingElementList.shoppingElements.length > 0;" 
          mat-icon-button class="add-button" 
          (click)="addShoppingElement('')">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="shopping-list-wrapper">
    <div *ngIf="shoppingElementList.shoppingElements.length > 0; else emptyState"  class="shopping-element-list">
      <div @simpleFadeAnimation *ngFor="let shoppingElement of shoppingElementList.shoppingElements; let i = index">
        <shopping-element 
        (onDeleteShoppingElement)="deleteShoppingElement(i)"
        (onUpdateShoppingElementUnitPrice)="updateFinalPrice()"
        [shoppingElement]="shoppingElement"
        [shoppingElementIndex]="i"
        ></shopping-element>
      </div>
    </div>
  
    <ng-template #emptyState>
      <div @emptyStateFadeInTrigger class="empty-state-container">
        <div class="empty-state">
            <button mat-icon-button class="add-button" (click)="addShoppingElement('')"><mat-icon>add</mat-icon></button>
            <div class="empty-state-message">Agregar un elemento a la lista</div>
            <!-- <button mat-flat-button class="add-button-round-square" (click)="addShoppingElement('')">Crear nueva lista</button> -->
        </div>
      </div>
    </ng-template>
  </div>
</div>


