@import "../../style-constants.scss";

.add-button{
  background-color: $button-background;
  color: white;
  width: 64px;
  height: 64px;
  // Specific to icon whithin add button
  mat-icon{
    width: 64px;
    height: 64px; 
    font-size: 36px;
    // Fix icon position when font-size is larger than original
    position: relative;
    right: 12px;
    top: 1px;
  }
}

.add-button-container {
  width: 64px;
  height: 64px; 
}

.shopping-elements-container, .shopping-element-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 10px;
}

.shopping-list-wrapper {
  padding-top: $list-header-height;
}

.empty-state-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  .empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    min-width: 160px;
    row-gap: 15px;
    text-align: center;
    .empty-state-message{
      color: $subtitle-text-color;
    }
  }
}

.total-price-section {
  display: flex;
  flex-direction: row ;
  align-items: center;
  justify-content: flex-end;
  padding-top: 10px;
  // padding-right: 55px;
  column-gap: 23px;

  .label {
    color: $subtitle-text-color;
  }
}

.shopping-list-subtitle {
  color: $subtitle-text-color;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // Align with edit and delete buttons from cards
  padding-right: calc(7.5% + 52px);
  padding-left: 7.5%;
  // width: 100%;
}

.header-section-container {
  position: fixed;
  top: $toolbar-height;
  left: 0px;
  right: 0px;
  width: 100%;
  // width: 85%;
  z-index: 999;
  background-color: $toolbar-background;
}