/***** Custom colors *****/

$toolbar-background-past: #F5821F;
$toolbar-background: #FEFFFF;
$toolbar-text: #060606;
$toolbar-height: 64px;
$list-header-height: 92px;
$button-background: #3A3A3A;
$subtitle-text-color: #9FA0A1;
$shopping-element-card-background: #FFFFFF;

/***** Custom sizes *****/

// $subtitle-font-size: 12px;
$subtitle-font-size: 16px;
$subsubtitle-font-size: 12px;
// Used for animations
$shopping-card-height: 85.5px; 


