/***** Custom colors *****/

$toolbar-background-past: #F5821F;
$toolbar-background: #FEFFFF;
$toolbar-text: #060606;
$button-background: #3A3A3A;
$subtitle-text: #9FA0A1;
$shopping-card-background: #FFFFFF;

/***** Font size *****/

// $subtitle-font-size: 12px;
$subsubtitle-font-size: 12px;



