/***** Custom colors *****/

$toolbar-background-past: #F5821F;
$toolbar-background: #FEFFFF;
$toolbar-text: #060606;
$subtitle-text: #9FA0A1;
$shopping-card-background: #FFFFFF;

/***** Font size *****/

// $subtitle-font-size: 12px;
$subsubtitle-font-size: 12px;

/***** Random pastel colors for lists *****/

$pastel-color-1: #D9D9D9;
$pastel-color-2: #E8E3D3;
$pastel-color-3: #D6E6B8;
$pastel-color-4: #E6CFB8;
$pastel-color-5: #B8D2E6;



