<sidenav [currentTab]=0></sidenav>
<div class="content-container">
  <div class="shopping-element-list-card-list">
    <div (click)="displayShoppingListDetail(i)" *ngFor="let shoppingElementList of shoppingElementLists; let i = index" class="shopping-element-list-card">
      <div class="shopping-element-list-card-header">
        {{shoppingElementList.name}}
        <div class="shopping-element-list-card-subtitle">
          {{shoppingElementList.creationDate}}
        </div>
      </div>
      <div class="shopping-element-list-card-preview">{{getShoppingElementsPreview(shoppingElementList, shoppingElementPreviewCardMaxCharacters)}}</div>
    </div>
  </div>
</div>




