<sidenav [currentTab]=0></sidenav>

<div @simpleFadeAnimation *ngIf="shoppingElementLists.length > 0; else noListsState" class="content-container">
  <div class="shopping-element-list-card-list">
    <div (click)="displayShoppingListDetail(i)" [routerLink]="['/shopping-list-detail', i]" *ngFor="let shoppingElementList of shoppingElementLists; let i = index" class="shopping-element-list-card">
      <div class="shopping-element-list-card-header">
        {{shoppingElementList.name}}
        <div class="shopping-element-list-card-subtitle">
          {{shoppingElementList.creationDate}}
        </div>
      </div>
      <div class="shopping-element-list-card-preview">{{getShoppingElementsPreview(shoppingElementList, shoppingElementPreviewCardMaxCharacters)}}</div>
    </div>
  </div>
</div>

<ng-template #noListsState>
  <div @emptyStateFadeInTrigger class="empty-state-container">
    <div class="empty-state">
      <img class="empty-state-image" src="assets/svg/empty-list.svg">
      <h2 class="empty-state-header">No posee listas</h2>
      <div class="empty-state-message">¡Comience a organizar sus compras!</div>
      <button mat-flat-button class="add-button-round-square" (click)="createShoppingList()">Crear nueva
        lista</button>
    </div>
  </div>
</ng-template>




