@import "../../style-constants.scss";

h1 {
  margin: 0px;
}

/*** Header ***/

.header-section-container{
  position: sticky;
  top: $toolbar-height;
  z-index: 2;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // Align with edit and delete buttons from cards
  padding-right: 57px;
  padding-left: 2px;
  background-color: $toolbar-background;
  height: 45px;

  .shopping-element-lists-header-right-section {
    display: flex;
    align-items: center;
    column-gap: 23px;
  }

  .add-button-placeholder {
    width: 64px;
    height: 64px; 
  }
}

.list-count-section {
  display: flex;
  flex-direction: row ;
  align-items: center;
  justify-content: flex-end;
  column-gap: 23px;

  .label-section {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    .label {
      color: $subtitle-text-color;
    }
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 15px;
}

.shopping-element-list-card {
  border-radius: 4px;
  background-color: $shopping-element-card-background;
  border-width: 0px;
  padding: 16px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  width: $shopping-element-list-preview-card-width;
  // Add 48px for buttons
  height: calc($shopping-element-list-preview-card-height + 48px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // row-gap: 10px;
  cursor: pointer;
  // Prevent shadow from showing outside header
  margin-right: 2px;
  margin-left: 2px;

  .card-content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .card-actions{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  .shopping-element-list-card-subtitle {
    color: $subtitle-text-color;
    font-size: $subsubtitle-font-size;
  }
  .shopping-element-list-card-preview {
    color: $subtitle-text-color;
    // Display line changes and spaces properly
    white-space: pre-wrap;
  }
}

.shopping-element-list-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: flex-start;
}

.empty-state-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  .empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    min-width: 100px;
    row-gap: 15px;
    text-align: center;
    .empty-state-header {
      font-weight: bold;
    }
    .empty-state-message{
      color: $subtitle-text-color;
    }
  }
}

.add-button-round-square{
  width: 100%;
  min-width: 140px;
  border-radius: 20px;
  background-color: $button-background;
  color: white;
}

.create-list-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $subtitle-text-color;
  width: calc($shopping-element-list-preview-card-width + 36px);
  height: calc($shopping-element-list-preview-card-height + 30px);
  .label-and-button-container {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    text-align: center;
    width: 100px;
  }
}

.add-button{
  background-color: $button-background;
  color: white;
  // Overwrite mat button default properties
  width: 64px !important;
  height: 64px !important;
  // Specific to icon within add button
  mat-icon{
    width: 64px;
    height: 64px; 
    font-size: 36px;
    // Fix icon position when font-size is larger than original
    position: relative;
    right: 12px;
    top: 1px;
  }
}

// Customize material button
.mat-mdc-unelevated-button:not(:disabled){
  background-color: $button-background;
  color: white;
  font-family: inherit;
}