/*****************************************/
/************* GLOBAL STYLES *************/
/*****************************************/

/***** Imports *****/

@import './app/colors.scss';
@import './app/fonts.scss';

/***** Global styles *****/

html, body { height: 100%; }
body { margin: 0; font-family: "Roboto Slab", "Roboto Slab", sans-serif; }
h1 {
  font-size: 24px;
  margin: 0px;
  font-family: "Roboto Slab"
}