/*****************************************/
/************* GLOBAL STYLES *************/
/*****************************************/

/***** Imports *****/

@import './app/style-constants.scss';
@import './app/fonts.scss';

/***** Global styles *****/

html, body { 
  height: 100%; 
  scroll-behavior: smooth;
}
body { 
  margin: 0; 
  font-family: "Roboto Slab", "Roboto Slab", sans-serif; 
  font-size: 16px;
}
h1 {
  font-size: 30px;
}
h2 {
  margin: 0px;
  font-size: 22px;
  font-weight: normal;
}
h3 {
  margin: 0px;
  font-size: 18px;
  font-weight: normal;
}
h4 { // Body equivalent
  margin: 0px;
  font-size: 16px;
  font-weight: normal;
}

/***** Material form customization *****/

// Default state
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: $shopping-element-card-background;
  // Remove padding left
  padding-left: 0px;
}

// Remove overlay when element is focused
.mat-mdc-form-field-focus-overlay {
  background-color: $shopping-element-card-background;
}

// Remove form subscript
.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

// Modify min height
.mat-mdc-form-field-infix {
  min-height: 30px;
  display: flex;
  align-items: flex-end;
}

// Form takes all the space in its container
.mat-mdc-form-field {
  width: 100%;
}

// Remove padding-top in text forms
.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-top: 0px;
  // Distance between text and animated line
  padding-bottom: 0px;
  // Remove min-height to prevent form inserting new space when editing
  min-height: 0px;
}